<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Mongoose</title>
</head>

<body>
  <div class="container">
    <form action="/users" method="POST">
      <div class="form-group">
        <h1>Welcome to Quoting Dojo</h1>
        <label for="formGroupExampleInput">Name</label>
        <input type="text" name="name" class="form-control wd" id="formGroupExampleInput" placeholder="Your Name">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Your Quote</label>
        <input type="text" name="quote" class="form-control wd" id="formGroupExampleInput2" placeholder="Your Quote">
      </div>
      <button type="submit" class="btn btn-success">Add My Quote!</button>
    </form>
    <div class = "button2">
      <button id="skip" class="btn btn-info">Skip to Quotes!</button>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>